//
//  Config.xcconfig
//  Flavor Town
//
//  Created by Stephen Furlani on 9/2/20.
//  Copyright © 2020 Upside Commerce Group. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

FT_PRODUCT_NAME = Dives
FT_PRODUCT_BUNDLE_IDENTIFIER = com.upside.Flavor-Town.dives
